version: '3.8'

services:
  api-postgres:
    image: postgres:14.0-alpine
    shm_size: 256M
    restart: always
    container_name: 'api-postgres'
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: app
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "44321:5432"
  api-redis:
    image: redis:alpine
    ports:
      - "6379:6379"
  redis-commander:
    image: rediscommander/redis-commander:latest
    environment:
      - REDIS_HOSTS=local:api-redis:6379
    ports:
      - "8081:8081"
    depends_on:
      - api-redis
  nats:
    container_name: test-nats
    image: nats
    ports:
      - "8222:8222"
      - "4222:4222"
      - "6222:6222"
    restart: always